@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#trabalhos img {
  -webkit-user-drag: none;
  user-select: none;
}