@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
* {
  margin: 0;
  
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

